server:
  port: 5000
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:3000/eureka/,http://127.0.0.1:3001/eureka/,http://127.0.0.1:3002/eureka/ #提供云端注册地址
  instance:
    instance-id: user-1 #注册到服务端唯一的实例ID
    prefer-ip-address: true #是都显示ip
    lease-renewal-interval-in-seconds: 10 #给服务端发送心跳 证明自己还活着间隔10s
    lease-expiration-duration-in-seconds: 30 #服务器接收最后一次心跳多少秒后将服务剔除
spring:
  application:
    name: clent-user #显示在服务端的名字
